:local(.formControl) {
  margin: 0.5rem 0;
}

:local(.formControl) label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

:local(.formControl) input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}

:local(.formControl) input:focus {
  outline: none;
  background: #c8e1e4;
  border-color: #00358b;
}

:local(.formControl.invalid) input {
    background-color: indianred;
    border-color: red;
}

:local(.formControl.invalid) label {
  color: red;
}
